<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a href="localhost:4200/home"></a>
    <img src="https://avatars.githubusercontent.com/u/52511637?v=4" width="35" alt="DVLogo"
    />


    <span>TP1-Sala de Juegos</span>
    <div class="spacer"></div>
    <div style="color: white; ">
        <a routerLink="/login" style="color: white; font-weight: 40; margin-right:5px">Login</a> | 
        <a routerLink="/juegos" style="color: white; font-weight:40; margin-right:5px;">Juegos</a> |
        <a routerLink="/home" style="color: white; font-weight:40; margin-right: 15px;">Home</a>
    </div>
  
  </div>