<!-- <p>quien-soy works!</p> -->
<div>
    <div class="card highlight-card card-small">
      <span>Datos Personales: {{nombre}}{{curso}}</span>
    </div>
    <div class="content">
        <img src={{pic}} width="200" height="200" alt="personalPic">
         <div>
             <p>{{miJuego}}</p> 
         </div>
         <img src="https://t1.pbb.ltmcdn.com/es/posts/7/0/1/como_se_juega_el_ahorcado_para_ninos_5107_600.jpg" 
         alt="ahorcadoExample" with="260" height="140">
    </div>
</div>

