<!-- <p>quien-soy works!</p> -->
<div>
    <div class="card highlight-card card-small">
      <span>Datos Personales: {{nombre}}{{curso}}</span>
    </div>
    <div class="content">
        <img src={{pic}} width="200" height="200" alt="personalPic">
         <div>
             <p>{{miJuego}}</p> 
         </div>
         <img src="https://t1.pbb.ltmcdn.com/es/posts/7/0/1/como_se_juega_el_ahorcado_para_ninos_5107_600.jpg" 
         alt="ahorcadoExample" with="260" height="140">
    </div>
</div>

<div class="card highlight-card card-small">
    <a href="{{linkedin}}"><img src="https://media-exp1.licdn.com/dms/image/C560BAQHaVYd13rRz3A/company-logo_100_100/0/1638831589865?e=2147483647&v=beta&t=fi3iyTgSAogCMgSmAy_DeyogJxzo38RVBK0mcEuSpc8" 
        alt="linkedin" width="35" height="35"></a>
    
    <a href="{{github}}"><img src="https://play-lh.googleusercontent.com/PCpXdqvUWfCW1mXhH1Y_98yBpgsWxuTSTofy3NGMo9yBTATDyzVkqU580bfSln50bFU" 
        alt="github" width="35" height="35"></a>
    
</div>
