/* You can add global styles to this file, and also import other style files */
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2px 0; color: #496288;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }
  body{
    background-image: url('https://media.istockphoto.com/illustrations/blue-purple-green-polygonal-background-illustration-id683652690?b=1&k=6&m=683652690&s=170667a&w=0&h=Pf1h-9jjX50g3s8Z3i-XHpdRYawEIw8BpFtTwQ_Q8Iw=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #ffffff;
  }
  .button-back{
    margin-top:5%; display: flex; align-items: center; margin-left: 47%; background-color: #1976d2;
    border-radius: 4px; border-width: 0ch; color: white; font-size: 11px; font-weight: 40px;padding: 10px;
  }
  .button-pic{
    height: 90%; width: 90%; border-radius: 20px; margin-right: 5%; margin-left: 5%;
  }
  .router-juegos{
    color:white; font-weight: 40; font-size: 14px; align-items: center; text-align: center;
    margin-right:25px; margin-top: 15px;
    background-color: #1976d2; border-radius: 4px; padding: 8px;
  }
  a:hover{
    background-color: #607ba3;  color: white;
  }

  .toolbar {
    position: absolute; top: 0; left: 0; right: 0; height: 60px; display: flex;
    align-items: center; background-color: #33567a; color: white; font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }
  button:hover {
    border: 2px solid currentColor;
    border-radius: 3rem;
    color: yellow;
    font-size: 4rem;
    font-weight: 100;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: .2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
  }
  
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .login-meme {
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40%;
    width: 40%;

    padding: 16px;
    color: #333;
    transition: all 0.2s ease-in-out;
  }


  .card.card-small {
    height: 16px;
    width: 168px;
  }
  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }
  footer {
    background-color: #1976d2;
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }
