<app-nav-bar></app-nav-bar>

<div class="content">     
    <div class="row">
        <div class="col ">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque quibusdam at, animi ducimus sunt quo culpa sed praesentium, maiores ratione eligendi asperiores voluptates natus beatae, eveniet placeat laboriosam repudiandae accusamus.
        </div>
        <div class="col">
            <img src="https://pxt.azureedge.net/blob/f396f19e2d584665e5898059f18cbbbce9a944df/static/cp/projects/cartoon-network/bmo-music-box/bmo.jpg"
            alt="homePic" style="display: flex; align-content: center; width: 40%;" >    
        </div>
    </div>
</div>